*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', sans-serif;
    overflow-x: hidden;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #122A57;
    align-items: center;
    height: 100px;
    color: #fff;
}

header .menu {
    justify-content: space-between;
    

}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content:space-between;
    color: #fff;
    align-items: center;
}

.list-items li a{
    color: #fff;

}

.list-items li a:hover{
    color: #376ac8;
}

div img {
    display: block;
    width: 100%;
}

ul li a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    margin: auto;
    max-width: 992px;
    width: 100%;
    min-width: 320px;
}


.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-width: 200px;
    width: 100%;
}

.texto-apresentacao h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
    position: relative;
}

.btn{
    background-color: #122A57;
    color:#fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #376ac8;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* right button scroll to top */

#btn-scroll-top {       
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 25px;
    border-color: rgb(244, 232, 169);
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 14px;
    border-radius: 10px;
    background-color: rgb(246,130,69); /* Set a background color */

}

#btn-scroll-top:hover {
    background-color: #555;
  }

#about-us{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
}

#about-us h2 {
    color: #122A57;
    font-size: 32px;
    display: flex;
    margin-bottom: 20px;
}

#about-us h2::before{
   content: "";
   height: 50px;
   width: 5px;
   margin-right: 5px;
   background-color: #122A57;
   position: relative;
}

#about-us p{
    margin-bottom: 10px;
    width: 90%;
}

#about-us img {
    min-width: 400px;
    margin-right: 500px;
}

.container-externo {
    background-color: #122A57;
    width: 100%;
}

.list-services {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#services {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 60px;
}

#services h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 10px;

}

.list-services .item-service {
    text-align: center;
}

.item-service a{
    width: 120px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 10px;
    color: #122A57;
    font-size: 14px;
}

.item-service p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-service img {
    width: 80%;
    margin: auto;

    
}

#plans {
    flex-direction: column;
    min-width: 100vh;
}

#plans h2 {
    font-size: 32px;
    padding-top: 50px;
}

.plan-list {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    justify-content: space-between;
}

.item-plan {
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    max-width: 240px;
    padding: 0 15px 0;
}

.item-plan .btn {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.item-plan h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px 5px;
}

.item-plan h3::after{
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plan ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plan ul li {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}


.item-plan ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}


footer {
    background-color: #122A57;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 130px;
    padding-top: 20px;
}

footer .footer {
    justify-content: center;
    color: #fff;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-style:initial;
    font-size:14px;
}


/*smaller screen like laptop*/

@media(max-width:1020px) {
    .flex-container {
        flex-direction: column;
    }

    .espace_mobile {
        padding-left: 20px;
    }

    .apresentacao  {
        flex-direction: column-reverse;
        margin-top: 140px;
        height: 100%;
    }
    .apresentacao .texto-apresentacao {
        width: 100%;
        padding-left: 40px;
    }
    #about-us {
        flex-direction: column;
        margin: 70px 20px 70px;
    }

    #about-us img{
        min-width: 70px;
        max-width: 420px;
        margin: auto;
    }

    header {
        margin-bottom: 20px;
    }

    #about-us {
        margin: 70px 10px 70px;
    }

    #about-us img {
       min-width: 210px;
       margin-right: 20px;
    }

    #about-us .text-box {
        padding-top: 40px;
        padding-left: 12px;
    }

    #plans h2{
        align-self: center;
        justify-content: center;
    }

    .list-services {
        flex-direction: column;
    }

    .item-service img {
        width: 30%;
        margin: auto;
        min-width: 100px;
    }
    .plan-list {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .plan-list .item-plan {
        max-width: 80%;
        width: 50%;
        margin: 25px 200px;
        
    }
    footer {
        width: 100%;
    }
    footer .footer {
        align-items: center;
    }
}


/*tablet*/

@media(max-width:770px) {
    .plan-list .item-plan {
        width: 50%;
        margin: 20px 170px;
    }
    
}


/*smaller tablet*/

@media(max-width:680px) {
    .plan-list .item-plan {
        width: 50%;
        margin: 20px 140px;
    }
    
}


/*phone*/

@media(max-width:440px) {

    .plan-list .item-plan {
        width: 41%;
        margin: 20px 60px;
        display:flex;
        flex-direction: column;
    }
    .plan-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .item-plan .btn {
        padding: 10px;
        width: 190px;
        height: 30px;
        line-height: 30px;
    }
    
    footer .footer {
        align-items: start;
    }
}


/*smaller phone*/

@media(max-width:385px) {

    .plan-list .item-plan {
        width: 40%;
        margin: 20px 15px;
      
    }
}